PORT=3000
NODE_ENV=development

# Conexión local con PostgreSQL / pgAdmin
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mercadolocal_db
DB_USER=postgres
DB_PASSWORD=CAMBIA_ESTA_CLAVE

# En producción puedes usar una sola URL de conexión.
# DATABASE_URL=postgresql://usuario:clave@host:5432/base
DB_SSL=false

JWT_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_MUY_LARGA
JWT_EXPIRES_IN=2h

# Orígenes permitidos, separados por coma.
CORS_ORIGINS=http://localhost:5173
